@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<p>
        This is an app that checks vehicles that enters the downtown low emission zones in Sofia.
    In details returns a message if the vehicle is allowed to enter the downtown or not.
    It's not production ready application, it's learning app application to learn how to use ASP.NET Core MVC.
    In future I plan replace inherited classes in service layer with interface and add enum classes.
    I plann to add more features and more types of vehicles and make design pattern in controller, but for now this is the basic version of the app.
    The reason I build this app is to make a real application, and learn how to use ASP.NET Core MVC and test my OOP knowledge.
</p>

